# Node modules
node_modules/

# env files
*.env

# TypeScript build files
*.tsbuildinfo

# IDE specific files (optional)
.vscode/
.idea/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# Log files
*.log
